<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Posts</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <div id="main">
        <% if (posts.length > 0) { %> <% posts.forEach(post => { %>
        <div class="post">
          <div class="post_header">
            <div class="icon">
              <img src="me.png" alt="profile picture" />
            </div>
            <div class="dateTime">
              <p>12.02.2021</p>
            </div>
          </div>
          <a href="/singlepost/<%= post.id %>"> 
          <div class="picture">
            <img src= <%= post.url%>  alt="post picture" />
          </div>

          <div class="post_text">
            <h3 class="title"><%= post.title %></h3>
            <p class="body"><%= post.body %></p>
          </div>
        </a>
          <div class="post_bottom">
            <% if (post.active == true) { %>
            <button class="like" data-put="<%= post.id %>">
            <% } else { %>
            <button class="likes" data-put="<%= post.id %>" disabled="true">
            <% } %>
              <img src="likebutton.png" alt="like button" />
              <span class="likes"><%= post.likes%></span>
            </button>
          </div>
        </div>
        <% }) %> <% } else { %>
        <p>You did not post anything...</p>
        <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script>
     const likereq = document.querySelectorAll("button.like");
     likereq.forEach(btn =>{
      btn.addEventListener("click", (e) => {
        const endpoint = `/posts/${btn.dataset.put}`;
        btn.disabled = true;
        fetch(endpoint, {
          method: "PUT",
        }).then((response => {window.location.reload(true)}));
    });
     })
      
    </script>
  </body>
</html>
