<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Single Post</title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <div id="main">
      <div class="post">
          <div class="post_header">
            <div class="icon">
              <img src="/public/me.png" alt="profile picture" />
            </div>
            <div class="dateTime">
              <p>12.02.2021</p>
            </div>
          </div>
          <div class="picture">
            <img src= <%= posts.url%>  alt="post picture" />
          </div>
          <div class="post_text">
            <h3 class="title"><%= posts.title %></h3>
            <p class="body"><%= posts.body %></p>
          </div>
          <div class="post_bottom">
            <button class="likes" data-put="<%= posts.id %>">
              <img src="/public/likebutton.png" alt="like button" />
              <span class="likes"><%= posts.likes%></span>
            </button>
          </div>
        </div>
      <button class="delete" data-del="<%= posts.id %>">Delete</button>
    </div>

    <script>
      const delreq = document.querySelector("button.delete");
      delreq.addEventListener("click", (e) => {
        const endpoint = `/posts/${delreq.dataset.del}`;
        fetch(endpoint, {
          method: "DELETE",
        }).then((window.location.href = "/posts"));
      });

      
      const likereq = document.querySelector("button.likes");
      likereq.addEventListener("click", (e) => {
        const endpoint = `/posts/${likereq.dataset.put}`;
        fetch(endpoint, {
          method: "PUT",
        }).then((window.location.href = `/singlepost/${likereq.dataset.put}`));
    });
    
    </script>
  </body>
</html>
